{% extends 'base.html' %}

{% block content %}

  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="card mt-4">
        <div class="card-header p-3">
          <h5 class="mb-0">Músicas</h5>
        </div>
        <div class="col-lg-2 col-5 my-auto text-end">
          <div class="dropdown float-lg-end pe-4">
            <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-ellipsis-v text-secondary"></i>
            </a>
            <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
              <li><a class="dropdown-item border-radius-md" href="javascript:;">Alterar</a></li>
            </ul>
          </div>
        </div>
        
        <div class="card-body p-3 pb-0" style="font-weight:bold">
          <div class="alert alert-primary alert-dismissible text-white" role="alert" style="opacity:90%">
            <span class="text-md">Belzebu eh meu pastor | Banda Girassol</span>
            <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="alert alert-primary alert-dismissible text-white" role="alert" style="opacity:90%">
            <span class="text-md">Belzebu eh meu pastor | Banda Girassol</span>
            <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="alert alert-primary alert-dismissible text-white" role="alert" style="opacity:90%">
            <span class="text-md">Belzebu eh meu pastor | Banda Girassol</span>
            <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    
  </div>

{% endblock %}