{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="card mx-3 mt-2">
        <div class="row">
            <div class="col-lg-6">
                <form method="POST" class="ms-4 mt-4 ps-2 pb-4">
                    {% csrf_token %}

                    <div class="input-group input-group-outline mb-3">
                        <input type="text" class="form-control" 
                        name="mu_musica" id="mu_musica" value="{{ Musica.mu_musica }}">
                    </div>

                    <div class="input-group input-group-outline mb-3">
                        <input type="text" class="form-control" 
                        name="mu_interprete" id="mu_interprete" value="{{ Musica.mu_interprete }}">
                    </div>

                    <div class="input-group input-group-outline mb-3">
                        <input type="text" class="form-control" 
                        name="mu_autor" id="mu_autor" value="{{ Musica.mu_autor }}">
                    </div>

                    <div class="input-group input-group-outline mb-3">
                        <input type="text" class="form-control" 
                        name="mu_capa" id="mu_capa" value="{{ Musica.mu_capa }}">
                    </div>

                    <button type="submit" class="btn btn-primary bg-gradient">Enviar</button>
                    <a href="{% url 'listagem' %}">
                        <button type="button" class="btn btn-light">Voltar</button>
                    </a>
                </form>

            </div>

            <div class="col-lg-4 d-flex align-items-center">
                <div class="my-auto" >
                    <img src="{{ Musica.mu_capa }}" style="height:200px;" class="rounded" id="srcCapa">
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'assets/js/image.js' %}"></script>
{% endblock %}