{% extends 'base.html' %}

{% block content %}
  
  <div class="row mt-4 mb-4">
    <div class="col-lg-12 col-md-6 mb-md-0 mb-4">
      <div class="card">
          
        <!--  COMEÇO DA PÁGINA INICIAL -->
        <div class="card-header pb-0">
          <div class="row">

            <!-- Texto Bem Vindo  -->
            <div class="col-lg-6 col-7">
              <h3>Seja Bem-Vindo
              {% if user.is_authenticated %}
                , {{ user.username }}!
              {% else %}
              {% endif %}
              </h3>
              <p class="text-sm mb-0">
                <i class="fa fa-check text-info" aria-hidden="true"></i>
                <span class="font-weight-bold ms-1">ficou meio esticado</span> as image, mas dx
              </p>
            </div>
            <!-- Cursor Dropdown do Alterar -->
            <div class="col-lg-6 col-5 my-auto text-end">
              <div class="dropdown float-lg-end pe-4">
                <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-ellipsis-v text-secondary"></i>
                </a>
                <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                  <li><a class="dropdown-item border-radius-md" href="javascript:;">Alterar</a></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Três Imagens da HOME -->
          <div class="row mt-4 mb-4 mx-auto">
            <img class="col-lg-4 img-fluid rounded-3" src="https://media.istockphoto.com/id/1203044225/photo/serene-african-man-lying-on-sofa-wear-headphones-listen-music.jpg?s=612x612&w=0&k=20&c=MiRkhv5LzRhCmDneMDN-O3YgbCYoBjMxTQ4Ouv6x1gc=">
            <img class="col-lg-3 img-fluid rounded-circle" src="https://static.vecteezy.com/system/resources/previews/000/210/706/original/vintage-gramophone-modern-illustration-vector.jpg">
            <img class="col-lg-4 img-fluid rounded-3" src="https://images.unsplash.com/photo-1557511113-84fb922d34d5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2028&q=80">
          </div>

          <!-- Parágrafos para Falar sobre o Projeto -->
          <div id="parag" class="px-4 me-4">

            <p>
              &emsp;&emsp;Este projeto de cadastro de músicas tem como objetivo permitir que os 
              usuários cadastrem suas músicas favoritas e as compartilhem com outros usuários. 
              Ele inclui as seguintes funcionalidades:
            </p>

            <ul>
              <li>
                Listagem: Os usuários podem visualizar todas as músicas cadastradas 
                no sistema, ordenadas por título, artista ou data de cadastro.
              </li>
              <li>
                Busca: Os usuários podem buscar por músicas específicas através de 
                um campo de busca, filtrando por título, artista ou gênero.
              </li>
              <li>
                Autenticação: O projeto inclui um sistema de autenticação para garantir 
                que somente os usuários registrados possam cadastrar e visualizar as músicas. Isso 
                inclui o login e o registro de novos usuários.
              </li>
              <li>
                Perfil de usuário: Cada usuário tem um perfil onde pode visualizar 
                as músicas que ele cadastrou, editá-las e deletá-las.
              </li>
            </ul>
          </div>
          <!-- FIM DA PÁGINA INICIAL -->
        </div>

        <div class="card-body px-0 pb-2"></div>
        
      </div>
    </div>
  </div>
  <!-- Fim do Conteúdo da Página -->

{% endblock %}